<div class="card">
    <div class="card-header">Registruoti vaiką į vasaros gamtininkų stovyklą</div>
    <div class="card-body">

        <form action="" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="mb-3">
                <label for="" class="form-label">Vaiko vardas</label>
                <input type="text" id="" class="form-control" ngModel name="name"  required minlength="3"  maxlength="15">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Vaiko pavardė</label>
                <input type="text" id="" class="form-control" ngModel name="surname"  required minlength="3"  maxlength="15">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Gimimo metai</label>
                <input type="number"  id="" class="form-control" ngModel name="year" required>
            </div>
            <div class="mb-3">
                <div>
                    <label class="form-label">Lytis</label>
                </div>
                <input type="radio" name="lytis"  id="Moteris" class="form-check-input" ngModel value="Moteris">
                <label for="Moteris" class="form-label">Moteris</label> &nbsp;
                <input type="radio" name="lytis" id="Vyras" class="form-check-input" ngModel value="Vyras">
                <label for="Vyras" class="form-label">Vyras</label>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">El. Paštas</label>
                <input type="text"  id="" class="form-control" ngModel name="email" required email>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Telefonas</label>
                <input type="text" id="" class="form-control" ngModel name="phone" placeholder="+3706*******" required minlength="10"  maxlength="12">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Klasė</label>
                <input type="number"  id="" class="form-control" ngModel name="grade" required min="5"  max="12">
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Registruoti</button>
        </form>
    </div>
</div>